* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    
}

body {
    display: grid;
    place-items: center;
    height: 80vh;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


h1 {
    border: 5px solid black;
    background-color: yellow;
    font-family: arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
}


#container {
    height: 350px;
    width: 800px;
    border: 5px solid red;
    position: relative;
    overflow: hidden;
}

    #container #character {
        height: 165px;
        width: 170px;
        position: absolute;
        bottom: 28px;
        left: 20px;
    }

        #container #character img {
            height: 170px;
            width: 170px;
        }

.characterActive {
    animation: animateCharacter 0.5s linear infinite;
}

@keyframes animateCharacter {

    0%, 100% {
        bottom: 28px;
    }

    45%, 55% {
        bottom: 160px;
    }
}

#container #block {
    height: 175px;
    width: 225px;
    position: absolute;
    bottom: 20px;
    right: -20px;
}

    #container #block img {
        height: 170px;
        width: 170px;
    }

.blockActive {
    animation: blockAnimate 2s linear infinite;
}

@keyframes blockAnimate {
    0% {
        right: -125px;
    }

    100% {
        right: 100%;
    }
}

#container #road {
    height: 30px;
    width: 1200px;
    position: absolute;
    bottom: 0;
}

    #container #road img {
        height: 30px;
        width: 2000px;
        position: absolute;
        left: 0;
        animation: none;
    }

@keyframes roadAnimate {
    0% {
        left: 0;
    }

    100% {
        left: -800px;
    }
}

#score {
    height: auto;
    width: auto;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
    color: yellow;
}

#gameOver {
    display: none;
    position: absolute;
    left: calc(56% - 285px);
    top: calc(10% - 20px);
    width: 70px;
    height: 70px;
    
}
    #gameOver img {
        width: 470px;
        height: 270px;
    }
